<h1>{{titulo}}</h1>

<form (ngSubmit)="onSubmit()" #restauranteForm="ngForm">
	<label >Nombre</label>
        <p>            
            <input class="mas" type="text" #nombre="ngModel" name="titulo" [(ngModel)]="restaurante.nombre" required>
		<span [hidden]="nombre.valid || nombre.pristine">No Válido</span>
	</p>
        <label >Dirección</label>
	<p>
		<input type="text" #direccion="ngModel" name="direccion" [(ngModel)]="restaurante.direccion" required>
	</p>
        <label >Precio</label>
	<p>
		
                <select #precio="ngModel" name="precio" [(ngModel)]="restaurante.precio" required >
                    <option value="bajo">Bajo</option>
                    <option value="normal">Normal</option>
                    <option value="alto">Alto</option>
                </select>
	</p>
        <label >Descripción</label>
        <p>
            <textarea type="text" #descripcion="ngModel" name="descripcion" [(ngModel)]="restaurante.descripcion" required>
            </textarea>  
        </p>
        <label >Imagen</label>
	<p>
            <input type="file" (change)="fileChangeEvent($event)" >
	</p>
            <br>
            <input type="submit" name="name" [disabled]="!restauranteForm.form.valid" value="Crear Restaurante">
</form>